<div class="container-fluid">

        <div class="row position-relative">
            <div class="col-lg-6 bg-female big-screen ">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1 class="title text-white text-center">Female</h1>
                    </div>
                </div>

                <div class="row p-auto">
                    <div class="col-xl-4 col-lg-6 col-4 text-center p-3">
                        
                        <button class="btn p-0" [routerLink]='["/home"]'>
                            <div class="w-100">
                                <img src="../../assets/female-cat-1.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-white female-font">Lily</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 text-center p-3">
                        
                        <button class="btn p-0">
                            <div class="w-100">
                                <img src="../../assets/female-dog-2.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-white female-font">Bella</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 text-center p-3" >
                        
                        <button class="btn p-0">
                            <div class="w-100">
                                <img src="../../assets/female-dog-3.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-white female-font">Lucy</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 my-auto text-center">
                        
                        <button class="btn text-center ">
                            <div class="w-50 rounded-5 plus-font text-white text-center female-add mx-auto  same-width-height">+</div>
                            <h2 class="female-add-text">Add animal</h2>
                        </button>
                        
                    </div>
                    


                </div>

            </div>
            <div class="col-lg-6 bg-male big-screen">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h1 class="title text-dark text-center">Male</h1>
                    </div>
                </div>

                <div class="row p-auto">
                    <div class="col-xl-4 col-lg-6 col-4 text-center p-0 p-3">
                        
                        <button class="btn p-0"  >
                            <div class="w-100">
                                <img src="../../assets/male-dog-1.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-dark male-font">Max</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 text-center p-0 p-3">
                        
                        <button class="btn p-0">
                            <div class="w-100">
                                <img src="../../assets/male-dog-2.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-dark male-font">Rocky</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 text-center p-0 p-3">
                        
                        <button class="btn p-0">
                            <div class="w-100">
                                <img src="../../assets/male-cat-3.jpg" alt="" class="same-width-height rounded-5 img-fluid">
                            </div>
                            <h2 class="text-dark male-font">Milo</h2>
                        </button>
                        
                    </div>

                    <div class="col-xl-4 col-lg-6 col-4 my-auto text-center">
                        
                        <button class="btn text-center ">
                            <div class="w-50 rounded-5 plus-font text-white text-center male-add mx-auto my-auto same-width-height">+</div>
                            <h2 class="male-add-text">Add animal</h2>
                        </button>
                        
                    </div>
                    


                </div>
                <button id="btn1" class="btn btn-primary px-3 fs-4">Gérer mes animaux</button>
            </div>
        </div>

    </div>
