<!-- Main Content  -->
<div id="main" >
    <!-- Search section  -->
    <div id="search" class="bg-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 text-center py-1">
                    <label for="descendance" class="form-label">descendance de la race</label>
                    <input type="text" name="raceDescendance" id="descendance" class="form-control rounded-3" placeholder="Caniche Toy, royal..">
                </div>
                <div class="col-md-2 m-auto text-center py-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Vacciné
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Négociable
                        </label>
                    </div>
                </div>
                <div class="col-md-3 text-center py-1">
                    <label for="customRange1" class="form-label">Age</label>
                    <div class="aligned">
                        <input type="range" class="form-range w-75" id="customRange1">
                        <span>mois</span>
                    </div>
                    
                </div>
                <div class="col-md-2 my-auto text-center py-1">
                    <div class="row">
                        <div class="col-12">
                            <h6>échange</h6>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Chiots
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Argent
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-3 text-center py-1">
                    <label for="customRange2" class="form-label">Prix</label>
                    <div class="aligned">
                        <input type="range" class="form-range w-75" id="customRange2">
                        <span>TND</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="offers row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" src="../../../assets/male-dog-1.jpg" alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">Stark,</h3>
                                <h6>Caniche Blanc</h6>
                                <p>Age: <span>18 mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img class="offer-img rounded-circle w-100" src="../../../assets/favoris-img.png" alt="">
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">Looking for a cute partner to mingle ! 
                                Anyone looking for a Labrador? I’m the cutest 
                                you could find.  
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">Puppies</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-sm text-white shadow rounded-3" >Contacter</button>
                                </div>
                                <div class="col-3">
                                    <div class="img-container text-center my-auto">
                                        <img src="../../../assets/favoris-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
        
        
        





    </div>
</div>
    