#main {
    padding: 20px;
    min-height: 100vh;
    background-color: #FFE2E9;
    width: 100%;
}

#search {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    height: fit-content;
}



 * {
    font-family: 'Love Ya Like A Sister';
}



#search span{
    padding-left: 10px;
}

.aligned {
    display: flex;
    align-items: center;
}


img {
    aspect-ratio : 1 / 1;
    object-fit: cover; 
    width: 100%;
}

.info {
    line-height: 5px;
}

.btn {
    background-color: #F3829D;
}

.favoris-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
        
}