<!-- Main Content  -->
<div id="main" [ngClass]=" { 'bg-female': sexeCondition == 'female', 'bg-male': sexeCondition == 'male'} ">

    <div class="offers row" >
       
        <div class="col-12 text-center" *ngIf="noPubs == true" >
            <p class="text-lead text-grey text-center fs-4" >Il n'y a pas d'offres favoris ! Y ajoutez en cliquant sur le coeur !</p>
            <img class="w-25" src="../../../../assets/sad_no_results.png" alt="">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let pub of pubs">
            <div class="card p-2 rounded-4 shadow mb-4" >
                <div class="row px-4">
                    <div class="col-12 text-muted text-end">il y a 1h</div>
                </div>
                <div class="row px-2">
                    <div class="col-8 ">
                        <div class="row">
                            <div class="img-container text-center col-4 my-auto">
                                <img class="offer-img rounded-circle" [src]=" 'http://127.0.0.1:3000/getimage/' + pub.pub_favoris.animal.image " alt="">
                            </div>
                            <div class="my-auto col-8 info">
                                <h3 class="title">{{pub.pub_favoris.animal.name}},</h3>
                                <h6>{{pub.pub_favoris.descendanceRace}}</h6>
                                <p>Age: <span>{{pub.pub_favoris.animal.age}} mois</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center my-auto info">
                        <div class="row">
                            <div class="aligned">

                                <div class="img-container text-center col-2 my-auto">
                                    <img *ngIf="pub.pub_favoris.animal.vaccine == true"  src="../../../assets/tick-icon.png" class="offer-img rounded-circle" />
                                    <img *ngIf="pub.pub_favoris.animal.vaccine == false"  src="../../../assets/xNo-icon.png" class="offer-img rounded-circle" />
                                </div>
                                <div class="col-10">
                                    <span>Vacciné</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="aligned">
                                <div class="img-container text-center col-2 my-auto">
                                    <img *ngIf="pub.pub_favoris.negociable == true"  src="../../../assets/tick-icon.png" class="offer-img rounded-circle" />
                                    <img *ngIf="pub.pub_favoris.negociable == false"  src="../../../assets/xNo-icon.png" class="offer-img rounded-circle" />
                                </div>
                                <div class="col-10">
                                    <span>Négociable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center pb-3">{{pub.pub_favoris.contenue}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-success my-auto">{{pub.pub_favoris.typeEchange}}</p>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-7 text-center">
                                    <button (click)="consulterDetails( pub.pub_favoris._id )" class="btn btn-sm text-white shadow rounded-3" [ngClass]=" { 'btn-female': sexeCondition == 'female', 'btn-male': sexeCondition == 'male'} " >Consulter</button>
                                </div>
                                <div class="col-5">
                                    <button (click)="supprimerFavoris( pub._id )" class="btn btn-danger btn-sm text-white shadow rounded-3" >Retirer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>

    </div>
</div>
    