
<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebarHeader text-center">
        <a href="" class="">
            <div class="mb-2">
                <img id="main-animal-img" src="../../../assets/female-dog-3.jpg" alt="" class="text-center rounded-circle img-fluid">            
            </div>
            <h5 class="mb-4 title" >Lucy's profile</h5>
        </a>

        <button class="btn btn-danger rounded-pill px-5 " id="btn-post">POST</button>
        
    </div>
    <div class="sidebarContent">
        <ul class="list-unstyled main-components">
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/favoris-img.png" alt="">
                        <span>Favoris</span>
                    </div>
                </a>
            </li>
            <li>
                
                <a href="#" >
                    <div class="aligned">
                        <img src="../../../assets/favoris-img.png" alt="">
                        <span>Paramètres d'animal</span>
                    </div>
                </a>
            </li>

        </ul>

        <div class="text-center">
            <img src="../../../assets/favoris-img.png" alt="">
            <h3 class="title">Conversations</h3>
        </div>
        <div>
            <ul class="list-unstyled convo-components">
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Stark</span>
                    </div>
                </a>
            </li>
            <li>
                
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Jack</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>

        </ul>
        </div>
        
    </div>
    
</nav>