
<!-- Sidebar  -->
<nav id="sidebar" [ngClass]=" { 'bg-female': sexeCondition == 'female', 'bg-male': sexeCondition == 'male'} ">
    <div class="sidebarHeader text-center">
        <a class="">
            <div class="mb-2">
                <img id="main-animal-img" [src]=" 'http://127.0.0.1:3000/getimage/' + loggedInAnimal.image " alt="" class="text-center rounded-circle img-fluid">            
            </div>
            <h5 class="mb-4" [ngClass]=" { 'title-female': sexeCondition == 'female', 'title-male': sexeCondition == 'male'} " >{{loggedInAnimal.name}}'s profile</h5>
        </a>

        <button [routerLink]='["/home/content-section/ajouter-pub"]'   class="btn rounded-pill px-5 " id="btn-post" [ngClass]=" { 'btn-danger': sexeCondition == 'female', 'btn-primary': sexeCondition == 'male'} ">POST</button>
        
    </div>
    <div class="sidebarContent">
        <ul class="list-unstyled main-components">
            <li >
                <a [routerLink]='["/home/content-section/consulter-favoris"]' >
                    <div class="aligned">
                        <img  src="../../../assets/favoris-img.png" alt="">
                        <span>Favoris</span>
                    </div>
                </a>
            </li>
            <li>
                
                <a href="#" >
                    <div class="aligned">
                        <img src="../../../assets/settings-icon.png" alt="">
                        <span>Paramètres d'animal</span>
                    </div>  
                </a>
            </li>

        </ul>

        <div class="text-center">
            <img src="../../../assets/convos-icon.png" alt="">
            <h3 class="title">Conversations</h3>
        </div>
        <div>
            <ul class="list-unstyled convo-components">
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Stark</span>
                    </div>
                </a>
            </li>
            <li>
                
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Jack</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>
            <li >
                <a href="#" >
                    <div class="aligned">
                        <img  src="../../../assets/male-dog-2.jpg" alt="" class="rounded-5">
                        <span>Berlin</span>
                    </div>
                </a>
            </li>

        </ul>
        </div>
        
    </div>
    
</nav>