.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  
  .back-button, .add-button {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out 0s;

  }

  
  .back-button {
    color: white;
    background-color: black;
    margin-right: 50px;
  }
  
 
  

  .back-button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
  }

  
  .add-button:hover {
    background-color: rgb(137, 4, 4);
    color: white;
    transform: scaleX(1);
    transform: scale(1.1);

  }


  .form-container {
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 50px; 
  }
  

  .bg-female{
    background-color: #FFE2E9;
  }

  .bg-male {
    background-color: #D1E3EF;
  }